<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="twelve columns">
      <label for="emailInput">Email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="emailInput">
    </div>
    <div class="twelve columns">
      <label for="passwordInput">Password</label>
      <input class="u-full-width" type="password" placeholder="password" id="passwordInput">
    </div>
    <div class="twelve columns">
      <button class="button button-primary">Sign in</button>
    </div>
  </div>
</form>
